body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(26, 26, 26);
    color: white;
}

nav,
section {
    margin-left: 2em;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.liens a {
    margin-right: 2em;
    padding-left: 13em;
}

nav a {
    text-decoration: none;
    color: white;
}

.lien-g {
    font-size: 3em;
}

.liens {
    font-size: 1.5em;
}

section {
    margin-top: 6em;
    display: flex;
    align-items: center;
}

.synopsis {
    margin-right: 20em;
}

h1 {
    margin: 0;
    font-size: 7em;
}

h2 {
    margin: 0;
    color: rgb(59, 59, 189);
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

section img {
    width: 98%;
}

footer {
    background: rgb(10, 10, 10);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

h3,
h4 {
    font-size: 2em;
}

h3 {
    padding-left: 1em;
}

.listes li {
    display: flex;
    justify-content: center;
    background: rgb(59, 59, 189);
    list-style-type: none;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    font-size: 1.5em;
}