:root {
  --color1: #1D1D1D;
  --color2: #474DFF;
  --color3: #FFFFFF;
  --color4: #0D0D0D;
}


/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--color1);
  color: var(--color3);
}


/* NAV */

nav {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav h2 {
  font-size: 2rem;
}

ul {
  font-size: 1.1rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* HEADER */

header {
  padding: 3rem 1rem 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  font-size: 9rem;
  max-width: 40rem;
}

header h3 {
  font-size: 3.15rem;
  color: var(--color2);
}
header p {
  font-size: 1.1rem;
}

header img {
  height: 50rem;
  width: auto;
}


/* INFOS */

.infos {
  background-color: var(--color4);
  margin: 0rem 1rem 2rem 1rem;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infos-left {
display: grid;
grid-template-columns: 42%;
}

.infos h3 {
  font-size: 1.7rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 0.1rem;
  color: var(--color2);
}

.infos button {
  background-color: var(--color2);
  color: var(--color3);
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  margin: 1rem 1rem 0 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.img-container {
  padding: 3.5rem 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15rem;
}

.img-container img {
  height: 5rem;
}