* {
    font-family: inherit; /* Le style de police est appliqué a tout les éléments*/
}

body {
    margin: 0;
    font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
}

button {
    letter-spacing: 0.2em; /* Change l'espace entre les lettres */
    text-transform: uppercase;
    font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
}


/* --------------------------------------------------------------------------- */
/* NAV */

nav {
    font-weight: bold; /* Mets le texte en gras */
    text-transform: uppercase; /* Mets le texte en majuscule */
    display: flex;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1em 3em;
}

.open-page {
    padding: 0.55em;
    border-top: 6px #700990 solid;
    color: #700990;
}

.button-nav {
    background-color: rgb(224, 224, 224);
    margin: 1em;
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
}


/* --------------------------------------------------------------------------- */
/* INTRO */


.accueil-intro {
    background-image: url("./assets/img/bg.jpg");
    background-size: cover; /* L'image couvre toute la section sans distorsion */
    background-position: center; /* Centre l'image dans la section */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
}

.accueil-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5em;
}

.accueil-intro h1 {
    padding-bottom: 0.5em;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
}

.button-intro {
    font-size: 1em;
    background-color: transparent;
    padding: 1em 3em;
    font-weight: bold;
    border: 1px solid white;
    color: white;
}


/* --------------------------------------------------------------------------- */
/* SYNOPSIS */


.accueil-synopsis {
    padding: 1.7em;
    max-width: 60em;
    font-weight: bold;
    margin: 0 auto; /* Centre horizontalement l'élément */
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.6em;
}


/* --------------------------------------------------------------------------- */
/* INFOS */


.button-infos {
    font-size: 1em;
    background-color: transparent;
    padding: 1em 3em;
    font-weight: bold;
    border: 1px solid white;
    color: white;
    letter-spacing: 0;
}

.accueil-infos {
    padding: 7em 12.5em;
    background-color: rgb(17, 17, 17);
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.accueil-infos-container1,
.accueil-infos-container2,
.accueil-infos-container3 {
    margin: 0 5em;
    max-width: 40em;
}

.accueil-infos img {
    height: 13em;
}

.accueil-infos h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.accueil-infos p {
    font-size: 1.2em;
}

.accueil-infos img,
.accueil-infos p {
    margin-bottom: 2em;
}


/* --------------------------------------------------------------------------- */
/* NEWS */


.accueil-news {
    padding-top: 2em;
    padding-bottom: 7em;
    background-color: rgb(238, 238, 238);
}

.accueil-news-header {
    margin-left: 21.5em;
    justify-items: start;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titre boutton"
    "texte boutton";
}

.accueil-news h2 {
    margin-bottom: 0;
    margin-top: 3em;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: normal;
}

.accueil-news-header p {
    padding-bottom: 4em;
    margin-top: 0;
    grid-area: texte;
    font-weight: bold;
}

.accueil-news-header button {
    font-size: 1em;
    background-color: transparent;
    font-weight: bold;
    grid-area: boutton;
    padding: 1em 1.5em;
    margin-left: 10em;
}

.accueil-news-body {
    padding-left: 21.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.accueil-news-body img {
    height: 17em; /* Permet de régler la hauteur de l'image */
    width: auto;
    border-radius: 5px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.accueil-news-body h4 {
    font-size: 1.2em;
}

.accueil-news-body p {
    line-height: 1.5em;
    font-weight: bold;
}

.accueil-news-body button {
    background-color: transparent;
    font-weight: bold;
    border: transparent;
    color: #700990;
    padding-top: 2em;
    padding-left: 0;
}

.accueil-news-container1,
.accueil-news-container2,
.accueil-news-container3 {
    max-width: 21em;
    min-width: 21em;
}

.accueil-news-container2 p {
    padding-bottom: 4.5em;
}

.accueil-news-container3 p{
    padding-bottom: 3em;
}


/* --------------------------------------------------------------------------- */
/* CONTACT */


.accueil-contact {   
    display: flex;
}

#accueil-contact-image-GC {
padding: 7.5em 5em 10em 15em ;
height: 16em;
}

.accueil-contact h5 {
    text-transform: uppercase;
    font-size: 1.2em;
}

.accueil-contact a {
    text-decoration: none;
}

.accueil-contact-container1,
.accueil-contact-container2,
.accueil-contact-container3 {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    margin: 0 2em;
    max-width: 20em;
    font-weight: bold;
}

.accueil-contact-container1 {
    max-width: 15em;
}

.accueil-contact-container1 a {
    padding: 0.6em 0 0.6em 0;
}

.accueil-contact-container2 p {
    line-height: 1.5em;
}

.accueil-contact-container3-footer h5 {
    margin-bottom: 0;
    margin-top: 1em;

}

.accueil-contact-container3 p {
    margin: 0;
}

.accueil-contact-logos {
    display: flex;
    margin-bottom: 2em;
}

.accueil-contact-logos a {
    padding: 0.5em;
}

