* {
    font-family: inherit; /* Le style de police est appliqué a tout les éléments*/
}

body {
    margin: 0;
    font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
}

button {
    letter-spacing: 0.2rem; /* Change l'espace entre les lettres */
    text-transform: uppercase;
    font-family: "Montserrat", "Montserrat-fallback", Arial, sans-serif;
}


/* --------------------------------------------------------------------------- */
/* NAV */

nav {
    font-weight: bold; /* Mets le texte en gras */
    text-transform: uppercase; /* Mets le texte en majuscule */
    display: flex;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1rem 3rem;
}

.open-page {
    padding: 0.55rem;
    border-top: 6px #700990 solid;
    color: #700990;
}

#button-nav {
    background-color: rgb(224, 224, 224);
    margin: 1rem;
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
}


/* --------------------------------------------------------------------------- */
/* INTRO */


.accueil-intro {
    background-image: url("./assets/img/bg.jpg");
    background-size: cover; /* L'image couvre toute la section sans distorsion */
    background-position: center; /* Centre l'image dans la section */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
}

.accueil-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem;
}

.accueil-intro h1 {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

.button-intro {
    font-size: 1rem;
    background-color: transparent;
    padding: 1rem 3rem;
    font-weight: bold;
    border: 1px solid white;
    color: white;
}


/* --------------------------------------------------------------------------- */
/* SYNOPSIS */


.accueil-synopsis {
    padding: 1.7rem;
    max-width: 60rem;
    font-weight: bold;
    margin: 0 auto; /* Centre horizontalement l'élément */
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
}


/* --------------------------------------------------------------------------- */
/* INFOS */


.button-infos {
    font-size: 1rem;
    background-color: transparent;
    padding: 1rem 3rem;
    font-weight: bold;
    border: 1px solid white;
    color: white;
    letter-spacing: 0;
}

.accueil-infos {
    padding: 7rem 12.5rem;
    background-color: rgb(17, 17, 17);
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.accueil-infos-container1,
.accueil-infos-container2,
.accueil-infos-container3 {
    margin: 0 5rem;
    max-width: 40rem;
}

.accueil-infos img {
    height: 13rem;
}

.accueil-infos h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.accueil-infos p {
    font-size: 1.2rem;
}

.accueil-infos img,
.accueil-infos p {
    margin-bottom: 2rem;
}


/* --------------------------------------------------------------------------- */
/* NEWS */


.accueil-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 9rem;
    background-color: rgb(238, 238, 238);
}

.accueil-news-header {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-column-gap: 15rem; /* Permet de définir l'espacement horizontal entre les éléments dans des conteneurs grid ou flexbox */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titre boutton"
    "texte boutton";
}

.accueil-news h2 {
    margin-bottom: 0;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
}

.accueil-news-header p {
    padding-bottom: 4rem;
    margin-top: 0;
    grid-area: texte;
    font-weight: bold;
}

.accueil-news-header button {
    font-size: 1rem;
    background-color: transparent;
    font-weight: bold;
    grid-area: boutton;
    padding: 1rem 1.5rem;
    margin-left: 9.5rem;
}

.accueil-news-body {
    display: grid;
    gap: 7.5rem; /* Permet de définir l'espacement entre les éléments dans des conteneurs grid ou flexbox */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.accueil-news-body img {
    height: 17rem; /* Permet de régler la hauteur de l'élément */
    width: auto; /* Permet de régler la largeur l'élément */
    border-radius: 5px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.accueil-news-body h4 {
    font-size: 1.2rem;
}

.accueil-news-body p {
    line-height: 1.5rem;
    font-weight: bold;
}

.accueil-news-body button {
    background-color: transparent;
    font-weight: bold;
    border: transparent;
    color: #700990;
    padding-top: 2rem;
    padding-left: 0;
}

.accueil-news-container1,
.accueil-news-container2,
.accueil-news-container3 {
    max-width: 21rem;
    min-width: 21rem;
}

.accueil-news-container2 p {
    padding-bottom: 4.5rem;
}

.accueil-news-container3 p{
    padding-bottom: 3rem;
}


/* --------------------------------------------------------------------------- */
/* CONTACT */


.accueil-contact {   
    display: flex;
}

#accueil-contact-image-GC {
padding: 7.5rem 5rem 10rem 22rem ;
height: 16rem;
}

.accueil-contact-container1,
.accueil-contact-container2,
.accueil-contact-container3 {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    margin: 0 3rem;
    max-width: 18rem;
    font-weight: bold;
}

.accueil-contact h5 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.accueil-contact a {
    text-decoration: none;
}

.accueil-contact-container1 {
    max-width: 15rem;
}

.accueil-contact-container1 a {
    padding: 0.6rem 0 0.6rem 0;
}

.accueil-contact-container2 h5 {
    margin-bottom: 1rem;
}

.accueil-contact-container2 p {
    line-height: 1.8rem;
}

.accueil-contact-container3-header h5 {
    margin-bottom: 1rem;
}

.accueil-contact-container3-footer h5 {
    margin-bottom: 0;
    margin-top: 2rem;

}

.accueil-contact-container3 p {
    margin: 0;
}

.accueil-contact-logos {
    display: flex;
    margin-bottom: 2rem;
}

.accueil-contact-logos a {
    padding: 0.5rem;
}


/* --------------------------------------------------------------------------- */
/* ACTUALITY */


#line-accueil-actuality {
    height: 1px;
    width: 58%;
    background-color: rgb(238, 238, 238);
    margin: 0 auto; /* Centre la ligne horizontalement */
}

.accueil-actuality {
    display: flex;    
    align-items: center;
    padding-left: 19rem;
}

.accueil-actuality-left {
    display: flex;
    flex-direction: column;
}

.accueil-actuality h6 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.accueil-actuality-left p {
    margin-top: 0.5rem;
    font-weight: bold;
}

.accueil-actuality-right {
    padding-left: 7rem;
}

.accueil-actuality-right img {
    margin-right: 2rem;
    padding-top: 1.5rem;
}


/* --------------------------------------------------------------------------- */
/* SPONSORS */


.accueil-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 17, 17);
    padding-bottom: 2rem;
}

.accueil-sponsors h5 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.accueil-sponsors-logos img {
    margin-right: 2rem;
    height: 2rem;
}

